.mainPostCard {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  background-color: #3f3d3d;
  box-shadow: 0 4px 8px #00000033;
  border-radius: 8px;
  padding: 10px 0;
}

.postCardMeta {
  display: flex;
  align-items: center;
  padding: 0 20px 10px;
  font-size: 12px;
}

.metaContainerAuth * {
  font-size: 14px;
}

.authContainerLogin {
  color: #5ae4b6;
}

.metaContainerImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.authorImgPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #294fca;
  font-size: 20px;
}

.imgContainerImg {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.contentContainerTitle {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: #5ae4b6;
}

.postCardContent {
  padding: 0 20px 10px;
  overflow-wrap: break-word;
}

.postCardTags :not(:last-child) {
  margin-right: 10px;
}

.tagsContainerTag {
  font-size: 14px;
  color: #b1adadb3;
}
