.formWrap {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.wrapContainer {
  width: 450px;
  padding: 60px 50px 20px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3f3d3d;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formTitle {
  font-size: 36px;
  line-height: 1.2;
  padding-bottom: 60px;
  color: #5ae4b6;
}

.formInputContainer {
  width: 100%;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.inputContainerInput {
  width: 100%;
  padding: 14px 30px 14px 65px;
  font-size: 18px;
  line-height: 1.2;
  color: #686868;
  background-color: #e6e6e6;
}

.inputContainerImg {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 18px;
  color: #000000;
}

.inputContainerButton {
  padding: 14px 40px;
  border-radius: 10px;
  background-color: #5ae4b6;
  color: #000000;
}

.inputContainerChangeForm {
  padding-top: 20px;
}

.changeFormText {
  padding-right: 10px;
}

.changeFormLink {
  color: #5ae4b6;
}
