.headerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.headerContainerWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  background-color: #3f3d3d;
  color: #fff;
  border-radius: 20px;
  padding: 30px 20px;
}

.headerLogo {
  font-size: 24px;
  color: #ffffff;
}

.headerAuthButtons {
  display: flex;
  gap: 10px;
}

.headerButton {
  padding: 14px 16px;
  border-radius: 10px;
  background-color: #5ae4b6;
  color: #000000;
}
