.chatContainer {
  width: 100%;
  height: 100%;
}

.chatHeader {
  padding: 10px 0;
  font-weight: bold;
  margin-bottom: 10px;
}

.chatMessages {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  padding: 10px;
  background-color: #555252;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  height: calc(100vh - 220px);
}

.message {
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 5px;
  max-width: 40%;
  word-wrap: break-word;
}

.myMessage {
  align-self: flex-end;
  background-color: green;
}

.contactMessage {
  align-self: flex-start;
  background-color: rgb(90, 57, 143);
}

.chatInput {
  display: flex;
  gap: 10px;
}

.chatInput input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chatInput button {
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.chatInput button:hover {
  background-color: #0056b3;
}
