.userProfileContainer {
  padding: 80px 60px;
}

.userProfileInfo {
  padding: 0 60px;
  max-width: 400px;
}

.metaImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.metaPlaceholderImg {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #294fca;
  font-size: 20px;
}

.infoMeta {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}

.userProfileMain {
  padding: 70px 0;
}

.profileMainContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 60px;
  overflow: hidden;
  justify-items: center;
}

@media (max-width: 410px) {
  .userProfileInfo {
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .profileMainContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .profileMainContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

.addPostContainerTitle {
  padding: 10px 20px;
  border-radius: 8px;
  color: #5ae4b6;
}

.addPostContainerTitle:hover {
  background: #3f3d3d;
  cursor: pointer;
}

.addPostFormPostContent,
.addPostFormPostTags {
  margin: 20px 0;
  padding: 8px 10px;
}

.addPostForm {
  display: none;
}

.addPostForm *:not(:last-child) {
  background: #3f3d3d;
  line-height: 1.2;
}

.addPostFormPostTitle {
  padding: 8px 10px;
}

.addPostFormButtons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.addPostFormPostButton {
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
}

#addPostFormPostButton {
  background-color: #5ae4b6;
  color: #000000;
}
